<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        
        <!-- DRAWING FUNCTiONS -->
        <script src="../draw.js"></script>

        <!-- PLUGINS COLPICK-->
        <script type="text/javascript" src="../plugins/colpick/js/colpick.js"></script>
        <link rel="stylesheet" href="../plugins/colpick/css/colpick.css" type="text/css" />

        <!-- STYLE -->
        <!--<link href="../styles/style.css" rel="stylesheet" type="text/css"/>-->
    </head>
    <body>
        <div>
            <canvas id="myCanvas" style="border:1px solid #000000;"></canvas>
            <button id="button_clear_canvas">Clear</button>
            <div class="color-box"></div>
        </div>
    </body>
</html>

    	