<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <link href="../styles/style.css" rel="stylesheet" type="text/css" media="screen"/>
        <script src="/socket.io/socket.io.js"></script>
        <title>Liste de Tâches</title>
    </head>

    <body>	

        <div id="container">
            <!-- the to-do list -->
            <div class="line">
                <div class="column" >
                    <label>To Do</label>
                    <ul id="todo-list" >
                    </ul>
                </div>
                <div class="column">
                    <label>In progress</label>
                    <ul id="in-list" >
                    </ul>
                </div>
                <div class="column">
                    <label>Done</label>
                    <ul id="done-list" >
                    </ul>
                </div>
            </div>

            <!-- form pour ajouter une tâche à la liste -->
            <div class="line todo-form">
                <form id="todo-form">
                    <label>Ajouter une tâche : </label>
                    <input name="todo-form-add" id="todo-form-add" type="text" placeholder="Nouvelle tâche">
                    <input type='button' onclick='addTache()' value='Ajouter'/>
                    <img src="images/Trash-resize.png"  class="trash" id="trash"  ondragover="dragOver(event)" ondrop="dragDrop(event)">

                </form> 
            </div> 
        </div>

    </body>

</html>
<script src="../todo.js"></script>
