<!DOCTYPE html>
<html>
<head>

<meta name='keywords' content='WebRTC, HTML5, JavaScript' />
<meta name='description' content='WebRTC Reference App' />
<meta name='viewport' content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1'>

<base target='_blank'>
<!-- <link rel='stylesheet' href='css/main.css' /> -->
</head>

<body>

<div id='container'>

  <div id='videos'>
    <video id='localVideo' width=100% height=50% autoplay muted poster="images/avatar.png"></video>
    <video id='remoteVideo' width=100% height=50% autoplay poster="images/avatar.png"></video>
  </div>

</div>

<script src='/socket.io/socket.io.js".'></script>
<script src='../webrtc_adapter.js'></script>
<script src='../webrtc.js'></script>

</body>
</html>
