#header {
    text-align: center;
	color: blue;
}

#container {
    align-content: center;
	margin: 2% auto;
	overflow: hidden;
	width:100%;
}

.line {
    margin: 1%;
    display: block;
    background-color: #FFB84D;
    border-radius: 2%;
    padding: 1%;
    text-align: center;
}

.column {
    display: inline-table;
    background-color: #FFDD66;
    border-radius: 5%;
    width: 32%;
    height: 100%;
}

ul {
    padding: 2px;
    list-style-type: none;
    margin : 0px;
    min-height: 5px;
}

li {
    margin: 2%;
    background-color: #DB6;
    display: block;
    border-radius: 20%;
}
.todo-list li : hover {
    background-color: red;
}

.todo-form {
    margin: 2%;
    background-color: #FFB84D;
}

.trash{
    float: right;
}

#myCanvas{
    display: block;
	width:100%;
    height: 100%;
    border: 0px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}