html, body {
	margin: 0;
}

.wrap{ 
    height: 100%;
    width: 100%;
}

.newsbar{
    width: 100%;
    padding-top: 5;
    padding-bottom: 5;
    background-color: black;
    color: white;
}

.newsbar a{
     color: white;
    font-weight: bold;
    text-decoration: none;
}

#hour_text{
    width: 5%;
    float: left;
}

#news_text{
    width: 90%;
}

#reload_img{
    color: white;
    height: 21;
    float: right;
    margin-right: 2%;
}

.marquee {
    position:relative;
    overflow:hidden;
    width:500px;
    height:22px;
    border:solid black 1px;
}
.marquee span {white-space:nowrap;}

.space
{
    color: black;
}

.separator
{
    color: white;
}