<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>About</title>

		<!-- Bootstrap CSS -->
		<link href="../styles/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../styles/style.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Rosario" />

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body class="col-xs-12 col-md-6" style="background-color: #22313F; color:white; font-family: 'Rosario';">
		<h3 class="text-center">Contributors :</h3>
		<div class="media">
			<a class="pull-left" href="#">
				<img class="media-object mobject" src="http://www.doyoubuzz.com/var/users/_/2011/5/3/21/125273/avatar/117147/avatar_cp_big.jpg" width="50px" height="50px" alt="Image">
			</a>
			<div class="media-body">
				<h4 class="media-heading">Léna Cuinier</h4>
				<ul class="social">
                    <li><a href="https://github.com/CuinierLena" target="_blank" class="fa fa-github fa-lg"></a></li>
                    <li><a href="http://www.doyoubuzz.com/lena-cuinier" target="_blank" class="fa fa-user fa-lg"></a></li>
                    <li><a href="http://www.viadeo.com/fr/profile/lena.cuinier" target="_blank" class="fa fa-external-link fa-lg"></a></li>
                    <li><a href="https://fr.linkedin.com/pub/l%C3%A9na-cuinier/a5/914/997" target="_blank" class="fa fa-linkedin fa-lg"></a></li>
                    <li><a href="mailto:cuinier.lena@gmail.com" target="_blank" class="fa fa-envelope-o fa-lg"></a></li>
                </ul>
			</div>
		</div>
		<div class="media">
			<a class="pull-left" href="#">
				<img class="media-object mobject" src="http://www.viadeo.com/servlet/photo?memberId=0021kv4bgiatuzja&height=185&width=140&ts=1412185689000" width="50px" height="50px" alt="Image">
			</a>
			<div class="media-body">
				<h4 class="media-heading">Sambo Alexandre</h4>
				<ul class="social">
                    <li><a href="https://github.com/smbAlx" target="_blank" class="fa fa-github fa-lg"></a></li>
                    <li><a href="http://www.doyoubuzz.com/alexandre-sambo" target="_blank" class="fa fa-user fa-lg"></a></li>
                    <li><a href="http://fr.viadeo.com/fr/profile/alexandre.sambo1" target="_blank" class="fa fa-external-link fa-lg"></a></li>
                    <li><a href="http://fr.linkedin.com/pub/alexandre-sambo/a7/254/56a" target="_blank" class="fa fa-linkedin fa-lg"></a></li>
                    <li><a href="mailto:sambo.alexandre@gmail.com" target="_blank" class="fa fa-envelope-o fa-lg"></a></li>
                </ul>
			</div>
		</div>
		<div class="media">
			<a class="pull-left" href="#">
				<img class="media-object mobject" src="https://media.licdn.com/mpr/mpr/shrink_500_500/p/3/005/054/24e/3ba6636.jpg" width="50px" height="50px" alt="Image">
			</a>
			<div class="media-body">
				<h4 class="media-heading">Rajesh Santhanam</h4>
				<ul class="social">
                    <li><a href="https://github.com/Dilraj7" target="_blank" class="fa fa-github fa-lg"></a></li>
                    <li><a href="http://www.doyoubuzz.com/rajesh-santhanam" target="_blank" class="fa fa-user fa-lg"></a></li>
                    <li><a href="http://fr.viadeo.com/fr/profile/rajesh.santhanam1" target="_blank" class="fa fa-external-link fa-lg"></a></li>
                    <li><a href="http://fr.linkedin.com/pub/rajesh-santhanam/45/a84/402" target="_blank" class="fa fa-linkedin fa-lg"></a></li>
                    <li><a href="mailto:santhanamrajesh7@gmail.com" target="_blank" class="fa fa-envelope-o fa-lg"></a></li>
                </ul>
			</div>
		</div>

		<!-- jQuery -->
		<script src="http://code.jquery.com/jquery.js"></script>
		<!-- Bootstrap JavaScript -->
		<script src="../scripts/bootstrap.min.js"></script>
	</body>
</html>