html, body {
	margin: 0;
}

marquee{
	background-color: black;
	color: white;
	padding-top: 5px;
	padding-bottom: 5px;
}

.color-box {
	float:left;
	width:30px;
	height:30px;
	margin:5px;
	border: 1px solid black;
}